<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- The console only outputs errors -->
			<!-- Right now the console display is disabled, but it can be activated 
				by replacing onMatch="DENY" by onMatch="ACCEPT" -->
			<ThresholdFilter level="error" onMatch="DENY"
				onMismatch="DENY" />
			<!-- Format of the output log -->
			<PatternLayout
				pattern="[%date{ISO8601}][%-5level][%logger{1.}][%marker][$${ctx:targetId}] %X %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>